*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(227, 224, 224);
}
#nvbar
{
    padding: 10px;
    font-size: 25px;
    color: brown;
}
#head
{
    /* height: 100vh; */
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(0,50%);
    text-align: center;
    
}
#counter
{
padding: 5px;
font-size: 40px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#number
{
padding: 10px;
font-size: 50px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn
{
    padding: 4px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-right: 10px;
    font-size: 11px;
}

.btn:hover{
background-color: black;
color: white;
border-style: bold;
border-color: white;
border-width: 2px;
cursor: pointer;
}